<li class="nav nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let n of apData"><a class="dropdown-item" >{{n.sensorName}}</a></li>
    </ul>
  </li>

 
<!-- 
  <div class="containter">
    <ngx-qrcode
    [elementType]="elementType"
    [value]="value"
    cssClass="aclass"
    
    >
    </ngx-qrcode>
  </div> -->
  



  <!-- {{getJsonValue | json}} -->